.slider {
    & .container-presented {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        & .prev_button:before {
            position: absolute;
            left: 0;
        }

        & .next_button:before {
            position: absolute;
            right: 0;
        }
    }
}

.flex {
    & .container-presented {
        margin: 0 auto;

        & .container-gridtour {
            width: var(--max-width-page) !important;
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;

            &>div:nth-child(4) {
                margin-left: 0;
            }
        }
    }
}

@mixin setPosition($para) {
    position: absolute;
    #{$para}: -5rem;
    top: 50%;
    transform: translate(0, calc(-50% + 11rem));
}

@mixin commomAttributes {
    cursor: pointer;
    opacity: 0.2;
    transition: all .7s;
    border: none;
    border-radius: 50%;
    padding: .7rem 1.1rem;
    background-color: var(--black);
}

.tour-item {
    width: var(--max-width-page);
    margin: 0 auto;
    position: relative;

    & .tour-item__prevButton {
        opacity: 1;
        background-color: var(--color-body) !important;
        @include setPosition(left);
        @include commomAttributes;
    }

    & .tour-item__nextButton {
        opacity: 1;
        background-color: var(--color-body) !important;
        @include setPosition(right);
        @include commomAttributes;
    }

    &>button:hover {
        transform: translateY(calc(-50% + 11rem));
    }

    &:not(.slider) {
        .container-presented {
            width: var(--max-width-page) !important;
            overflow: hidden;
        }
    }
}

.tour-item__prevButton,
.tour-item__nextButton {
    opacity: 1 !important;

    &>span {
        &>svg {
            font-size: 3rem;
        }
    }
}

.container-gridtour {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

@media screen and (max-width: 1350px) {
    .tour-item {
        &>button:nth-child(2) {
            left: -4rem;
            z-index: 1;
        }

        &>button:nth-child(4) {
            right: -4rem;
            z-index: 1;
        }
    }
}

@media screen and (max-width: 1350px) and (min-width: 950px) {
    .flex {
        & .container-presented {
            & .container-gridtour {
                width: calc(100vw - 6rem) !important;
            }
        }
    }

    .tour-item {
        width: calc(100vw - 6rem);

        .container-gridtour {
            &>div {
                width: calc(((100vw - 6rem - 6rem) / 3));
            }
        }

        &:not(.slider) {
            .container-presented {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 950px) and (min-width: 570px) {
    .tour-item {
        width: calc(100vw - 6rem);

        .container-gridtour {
            &>div {
                width: calc(((100vw - 6rem - 3rem) / 2));
            }
        }

        &:not(.slider) {
            .container-presented {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .tour-item {
        width: calc(100vw - 6rem);

        .container-gridtour {
            &>div {
                width: calc(100vw - 6rem);
            }
        }

        &:not(.slider) {
            .container-presented {
                width: 100% !important;

                &>div {
                    flex-direction: column;
                }
            }
        }
    }
}