@import "../GlobalStyles/GlobalStyles.scss";

.wrapperPaginate {
    width: 89rem;
    margin: 5rem auto 0 auto;

    .paginate {
        width: max-content;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        li {
            list-style: none;
            cursor: pointer;

            a {
                width: 2rem;
                border: .2rem solid $colorPrimary;
                margin: 0 1rem;
                padding: 0 .5rem;
                background-color: $colorPrimary;
                color: $whiteColor;
                transition: all .2rem;

                &:hover {
                    background-color: $whiteColor;
                    color: $colorPrimary;
                }
            }
        }
    }
}