@import '../GlobalMixin.scss';

.field {
    &+.field {
        margin-top: 3rem;
    }
}

.label-option {
    font-size: 1.3rem;
    margin-left: .5rem;
    
    & abbr {
        font-size: 1.3rem;
        color: red;
        padding-left: .5rem;
    }
}

.divInput {
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .label {
        position: absolute;
        top: calc(50% + 1.5rem);
        left: 0;
        transform: translateY(calc(-50% - 1.5rem));
        height: 1.5rem;
        overflow: hidden;
        padding-left: 2rem;
        color: #9e9e9e;
        pointer-events: none;
        transition: all .5s;
    }

    .label-option,
    abbr,
    .colon {
        font-size: 1.3rem;
    }

    .label-option {
        padding: 0 .2rem;
    }

    abbr {
        color: red;
        padding-left: 1rem;
    }

    .book_date {
        padding: 0 4rem 0 2rem;
    }

    &:focus-within {
        .label {
            height: 0;
        }
    }

    .mini {
        width: 9.8rem;
        height: 4.5rem;
    }

    .tiny {
        width: 20.5rem;
        height: 4.5rem;
    }

    .small {
        width: 22.8rem;
        height: 4.5rem;
    }

    .large {
        width: 46.6rem;
        height: 4.5rem;
    }
}

.input {
    width: 46.6rem;
    height: 4.5rem;
    padding-left: 2rem;
    background-color: #f5f4f4;
    border: 0.1rem solid #cecece;
    outline: none;
    transition: all 0.5s;
    border-radius: .3rem;

    &:valid+label {
        height: 0;
    }
}

.divInput+.divInput {
    margin-top: 3rem;
}

@mixin commonlyAttributes {
    pointer-events: none;
    color: var(--primary);
}

.leftIcon {
    @include setPosition(absolute, 50%, 0, 0, 8%, true);
    @include commonlyAttributes;
}

.rightIcon {
    @include setPosition(absolute, 50%, 8%, 0, 0, true);
    @include commonlyAttributes;
}