@import "../GlobalStyles/GlobalStyles.scss";

.divInput {
    position: relative;
    width: 46.9rem;
    height: 4.85rem;

    label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2rem;
        overflow: hidden;
        padding-left: 2rem;
        color: #9e9e9e;
        pointer-events: none;
        transition: all .5s;
    }

    .book_date {
        padding: 0 4rem 0 2rem;
    }

    input {
        width: 46.6rem;
        height: 4.5rem;
        background-color: #f5f4f4;
        border: 0.1rem solid #cecece;
        outline: none;
        transition: all 0.5s;

        &:valid+label {
            height: 0;
        }
    }

    &:focus-within {
        label {
            height: 0;
        }
    }
}