@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

$colorPrimary: #2980B9;
$borderColor: #34a1e9;
$whiteColor: #ffffff;
$blackColor: #000;
$colorWord: #2f2f2f;
$redColor: #ff0000;
$orangeColor: #ff7b00;
$colorBody: #f6f6f6;
$colorYellow: #e2df2d;
$bottomSocial: 2rem;
$colorFacebook: #3b5998;
$colorTwitter: #00acee;
$showBoxConfirm: 0.5s ease-in-out showConfirm;

:root {
    --white: #ffffff;
    --primary: #2980B9;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: $colorBody;
}

@mixin fontAweSomeStyle() {
    font-size: 1.4rem;
    padding-right: 5px;
}

p {
    font-size: 1.3rem;
    padding: 0;
    color: $colorWord;
}

label {
    font-size: 1.3rem;
    padding: 0;
    color: $colorWord;
}

i, svg {
    font-size: 1.3rem;
    color: $colorWord;
}

option {
    font-size: 1.3rem;
    color: $colorWord;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    color: $colorWord;
}

input {
    font-size: 1.3rem;
    color: $colorWord;
}

a {
    font-size: 1.3rem;
    color: $colorWord;
}

%button {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    height: 5rem;
    border-radius: 5rem;
    cursor: pointer;
    padding: 1.5rem 2rem;
    opacity: 1;
    font-weight: 700;
    background-color: $colorPrimary;
    border: .3rem solid #47a0ff;
    color: white;
    transition: .25s ease-in-out;

    &:hover {
        background-color: $whiteColor;
        color: $colorPrimary;
        border: .3rem solid $colorPrimary;
    }
}

%title-h3 {
    color: #2980B9;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding: 0 1rem;
}

%colorInstagram {
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

@keyframes showConfirm {
    from {
        display: flex;
        left: 50%;
        top: 46%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }

    to {
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}