@import 'normalize.css';
@import "@fontsource/montserrat";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/400-italic.css";

$colorBody: #f6f6f6;
$colorPrimary: #2980B9;
$borderColor: #34a1e9;
$whiteColor: #ffffff;
$blackColor: #000;
$colorWord: #2f2f2f;
$redColor: #ff0000;
$orangeColor: #ff7b00;
$colorYellow: #050504;
$bottomSocial: 2rem;
$colorFacebook: #3b5998;
$colorTwitter: #00acee;
$showBoxConfirm: 0.5s ease-in-out showConfirm;

:root {
    // fonts
    --font-family: 'Oxygen';
    --font-icon: 'adventure-tours';
    --font-revicons: 'revicons';
    --font-family-sub: 'Kaushan Script';

    // colors
    --black: #000;
    --white: #ffffff;
    --primary: #47a0ff;
    --color-body: #f6f6f6;
    --color-word: #333;
    --color-word-2: #8f9197;
    --color-sub: #4baeef;
    --color-sub-two: #033352;
    --color-red: #eb7591;
    --color-orange: #ff7b00;
    --color-yellow: #ffcd47;
    --color-green: #26cd5f;

    // table
    --height-thead: 4rem;
    --height-tr: 7rem;

    // others
    --max-width-page: 114rem;
    --width-nav: 40rem;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--color-body);
}

//font families

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2') format(truetype);
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDcZG1Wl4LcnbuCNWgzZmW5O7w.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDfZG1Wl4LcnbuKjk0m.woff2');
}

@font-face {
    font-family: 'adventure-tours';
    src: url('/fonts/adventure-tours.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fa-regular-400.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fa-solid-900.woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fontawesome-webfont.woff2');
}

@font-face {
    font-family: 'revicons';
    src: url('/fonts/revicons.woff');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2');
}

@mixin fontAweSomeStyle() {
    font-size: 1.4rem;
    padding-right: 5px;
}

// Scrollbar
html *::-webkit-scrollbar {
    width: 10px;
}

html *::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html *::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border: 4px solid transparent;
    border-radius: 8px;
}

html *::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

// 
h3 {
    font-size: 2rem!important;
}

p,
a,
label,
i,
svg,
option,
select,
h3,
input,
li,
textarea {
    font-size: 1.5rem;
    font-family: 'Oxygen';
    color: var(--color-word);
    padding: 0;
}

.table {
    width: 100%;
    height: auto;
    border-collapse: collapse;

    &>thead p,
    & td.header {
        text-transform: uppercase;
    }

    &>thead>tr,
    &>tbody>tr {
        border: .1rem solid #e4e4e4;
    }

    &>thead>tr {
        height: var(--height-thead);
        max-height: 4rem;

        &>td>p {
            width: max-content;
            margin: 0 auto;
        }
    }

    &>tbody>tr {
        height: var(--height-tr);
        max-height: var(--height-tr);
    }

    &>thead td,
    &>thead th,
    &>tbody td {
        padding: 1rem 2rem;
    }

    & tr>td>h3 {
        text-transform: uppercase;
    }

    & tr {
        border: .1rem solid #e4e4e4;
    }
}

p {
    margin: 0;
    line-height: 1.6rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

textarea {
    font-size: 1.5rem;
}