@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

$colorBody: #f6f6f6;
$colorPrimary: #2980B9;
$borderColor: #34a1e9;
$whiteColor: #ffffff;
$blackColor: #000;
$colorWord: #2f2f2f;
$redColor: #ff0000;
$orangeColor: #ff7b00;
$colorYellow: #050504;
$bottomSocial: 2rem;
$colorFacebook: #3b5998;
$colorTwitter: #00acee;
$showBoxConfirm: 0.5s ease-in-out showConfirm;

:root {
    --font-family: 'Oxygen';
    --font-icon: 'adventure-tours';
    --font-revicons: 'revicons';

    --black: #000;
    --white: #ffffff;
    --primary: #47a0ff;
    --color-body: #f6f6f6;
    --color-word: #333;
    --color-sub: #4baeef;
    --color-sub-two: #033352;
    --color-red: #ff0000;
    --color-orange: #ff7b00;
    --color-yellow: #ffcd47;

    --max-width-page: 114rem;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--color-body);
}

//font families

@font-face {
    font-family: 'Oxygen';
    src: url('/fonts/2sDcZG1Wl4LcnbuCNWgzaGW5.woff2') format(truetype);
    font-weight: 700;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDcZG1Wl4LcnbuCNWgzZmW5O7w.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDfZG1Wl4LcnbuKgE0mV0Q.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/2sDfZG1Wl4LcnbuKjk0m.woff2');
}

@font-face {
    font-family: 'adventure-tours';
    src: url('/fonts/adventure-tours.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fa-regular-400.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fa-solid-900.woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/fontawesome-webfont.woff2');
}

@font-face {
    font-family: 'revicons';
    src: url('/fonts/revicons.woff');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/vm8vdRfvXFLG3OLnsO15WYS5DG72wNJHMw.woff2');
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('/fonts/vm8vdRfvXFLG3OLnsO15WYS5DG74wNI.woff2');
}

@mixin fontAweSomeStyle() {
    font-size: 1.4rem;
    padding-right: 5px;
}

// Scrollbar
html *::-webkit-scrollbar {
    width: 10px;
}

html *::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html *::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border: 4px solid transparent;
    border-radius: 8px;
}

html *::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

p,
a,
label,
i,
svg,
option,
select,
h3,
input,
textarea {
    font-size: 1.3rem;
    font-family: 'Oxygen';
    color: var(--color-word);
    padding: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

textarea {
    font-size: 1.5rem;
}

%button {
    display: flex;
    justify-content: space-between;
    width: max-content;
    cursor: pointer;
    padding: 1.5rem 2rem;
    opacity: 1;
    font-weight: 700;
    background-color: var(--primary);
    color: white;
    border: .3rem solid #47a0ff;
    border-radius: 5rem;
    transition: .25s ease-in-out;

    &:hover {
        background-color: var(--white);
        color: var(--primary);
        border: .3rem solid var(--primary);
    }
}

%title-h3 {
    color: #2980B9;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    padding: 0 1rem;
}

%colorInstagram {
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

@keyframes showConfirm {
    from {
        display: flex;
        left: 50%;
        top: 46%;
        transform: translate(-50%, -50%);
        opacity: 0.5;
    }

    to {
        display: flex;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}