@import '../GlobalStyles/GlobalStyles.scss';

:root {
    --width-nav: 40rem;
    --color-facebook: #3b5998;
    --color-twitter: #1DA1F2;
}

.container {
    .container_image {
        position: relative;
        z-index: -1;

        h3 {
            @extend %title-h3;
            color: var(--black);
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translateX(-50%);
        }

        .image {
            width: 100%;
            height: 60rem;
            background-color: var(--color-body);
        }
    }

    .wrap_tour {
        width: var(--max-width-page);
        margin: -20rem auto 0 auto;
        display: flex;
        justify-content: space-between;

        .tour_review {
            width: calc(var(--max-width-page) * 74 / 100);
            background-color: var(--white);
            padding: 0 5rem;

            .review_title {
                h3 {
                    @extend %title-h3;
                    width: max-content;
                    margin: 0 auto;
                    padding: 3rem 1rem;
                }
            }

            .review_content {
                p {
                    line-height: 3rem;
                    word-break: keep-all;
                }
            }

            .review_price {
                h3 {
                    margin-top: 2rem;
                    color: var(--primary);
                }

                li {
                    font-size: 1.3rem;
                    line-height: 3rem;
                }
            }
        }

        .nav_tour {
            width: var(--width-nav);
            display: flex;
            justify-content: space-between;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--white);
                width: calc(var(--width-nav) / 2.7);
                height: 5rem;
                margin-right: 1rem;
                border-radius: .5rem;
                cursor: pointer;

                a {
                    text-decoration: none;
                }
            }
        }

        .review {
            width: 100%;

            .table {
                margin-top: 7rem;
                width: 74.6rem;
                border: .2rem solid #e4e4e4;

                .td-width {
                    width: 36.7rem;
                    margin: 0;
                }

                th {
                    tr {
                        display: flex;
                        justify-content: center;
                        width: max-content;
                        margin: 0 auto;
                    }

                    &:hover {
                        background-color: #bdbdbd;
                    }
                }

                tr {
                    td {
                        &:hover {
                            background-color: #bdbdbd;
                        }
                    }
                }
            }
        }

        .tour_book {
            width: calc(var(--max-width-page) * 22 / 100);
            margin-left: calc(var(--max-width-page) * 4 / 100);
            margin-top: 5.1rem;

            .book_price_decoration {
                width: 26rem;
                height: 9rem;
                opacity: .9;

                .amount {
                    display: flex;
                    justify-content: center;
                    background-color: var(--primary);
                    align-items: center;
                    height: 50%;

                    i {
                        color: var(--white);
                    }

                    h3 {
                        @extend %title-h3;
                        color: var(--white);
                    }
                }

                p {
                    height: 50%;
                    line-height: 4.5rem;
                    text-align: center;
                    background-color: var(--white);
                    margin: 0;
                }
            }

            .container_book {
                width: 25.5rem;
                height: 40.6rem;
                background-color: var(--primary);
                margin-top: 5rem;
                display: flex;
                align-items: center;
                flex-direction: column;

                h3 {
                    @extend %title-h3;
                    color: var(--white);
                    padding: 2rem;
                }

                input {
                    outline: none;
                    width: 20rem;
                    height: 4.1rem;
                    margin: 1rem 0;
                    border: none;
                    border-radius: .5rem;
                    background-color: #ededed;
                }

                .book_box-input {
                    position: relative;

                    i {
                        color: var(--primary);
                        position: absolute;
                        right: 4%;
                        top: 38%;
                    }
                }

            }

            .book_button {
                @extend %button;
                border-radius: .5rem;
                border: .3rem solid var(--white);
                width: max-content;
                margin: 8rem auto 0 auto;
            }
        }

        .shareButton {
            display: flex;
            justify-content: space-between;
            background-color: var(--white);

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 6rem;
                width: calc(100% / 3);
                border: .2rem solid #dbdbdb;
                margin-top: 10rem;
                cursor: pointer;

                i {
                    color: #bdbdbd;
                    font-size: 2rem;
                }

                &:hover {
                    .fa-facebook {
                        color: var(--color-facebook);
                    }

                    .fa-twitter {
                        color: var(--color-twitter);
                    }

                    .fa-instagram {
                        @extend %colorInstagram;
                    }
                }
            }
        }
    }
}