.table-product {

    &>tbody>tr>td {
        padding: 1rem 2rem;
    }
}

.table-product__img {
    width: 5rem;
    height: auto;
    cursor: pointer;
    transition: opacity .3s linear;

    &:hover {
        opacity: .8;
    }
}

.table-product__price,
.table-product__quantity,
.table-product__total {
    &>p {
        width: max-content;
        margin: 0 auto;
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;

    &>.product__item {
        width: 100%;

        &>div {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 1rem 2rem;
            border: 1px solid #e4e4e4;

            &.product__item-name {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: flex-start;

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }
            }

            &>p:first-child {
                text-transform: uppercase;
            }
        }
    }
}

.product__item {
    & .product__item__action {
        &>svg.delete {
            color: var(--color-red);
        }

        &>svg.done {
            color: var(--color-green);
        }
    }

    & .product__item-name {
        &>.name {
            &>p {
                text-transform: uppercase;
            }

            &>a {
                text-decoration: none;
                color: var(--primary);
                border-bottom: 1px solid transparent;
                transition: border-color .2s linear;

                &:hover {
                    border-color: var(--primary);
                }
            }
        }

        &>.booking-date {
            text-transform: uppercase;
        }
    }

    & .quantity {
        &>div {
            width: 100%;

            &>div {
                width: 100%;

                &>input {
                    width: 100%;
                    padding: 0 0 0 2rem;
                }
            }
        }
    }
}

.table-product__product {
    &>a {
        color: var(--primary);
        border-bottom: 0.1rem dotted transparent;
        transition: border 0.1s linear;
        text-decoration: none;

        &:hover {
            border-bottom: 0.1rem dotted var(--primary);
        }
    }

    &>p {
        margin-top: 1.5rem;
    }
}