.container {
    width: 100%;
    height: auto;

    &>.container__row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: max-content;
        height: auto;
        margin: 0 auto;
    }
}

.container__row>.col__item {
    cursor: pointer;
    border: .6rem solid transparent;

    &.active {
        border-color: var(--primary);
    }
}

.container__row-circle {
    width: 15rem;
    height: 15rem;
    border: .6rem solid var(--black);
    border-radius: 100%;
    margin: 5rem auto;
}