.header_wrapper {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-shadow: 0px 1px 1px 0px #ddd;
    display: flex;
    justify-content: center;
    z-index: 2;

    .cn-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: var(--max-width-page);
    }
}

.header_left {
    .logo {
        max-height: 95px;
        max-width: 300px;
        height: auto;
    }
}

.header_right {
    & ul>li {
        font-size: 1.2rem;
        font-weight: 900;
        list-style: none;
        text-transform: uppercase;
        color: var(--color-word);

        &+li {
            margin-left: 1.5rem;
        }
    }

    svg {
        color: var(--black);
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1170px) and (min-width: 901px) {
    .header_wrapper {
        &>.cn-header {
            flex-direction: column;
            align-items: flex-start;
            padding: 0 2rem;
        }
    }
}

.header_wrapper {
    &>.cn-header {
        &>.header_right>svg {
            width: 20px;
            height: 20px;
            padding: 1rem;
            background-color: rgba(4, 7, 63, 0.2);
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 900px) {
    .header_wrapper {
        &>.cn-header {
            padding: 0 2rem;

            &>.header_right {
                &>.ul-responsive {
                    width: 0%;
                    height: 100vh;
                    max-width: 272px;
                    overflow-y: overlay;
                    overflow-x: hidden;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    transition: height .2s linear;
                    z-index: 2;
                    transition: width .2s linear;

                    &.active {
                        width: 70%;
                    }
                }

                & ul {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    background-color: #fff;
                    height: 100%;

                    &>li {
                        width: calc(100% - 1.5rem);
                        cursor: pointer;

                        &+li {
                            margin-left: 0;
                            border-top: 1px solid rgba(4, 7, 63, 0.06);
                        }
                    }
                }

                & ul>li>div {
                    height: 5rem;
                    justify-content: flex-start;
                    margin-left: 1.5rem;

                    &>a {
                        padding: 1rem 0;
                        opacity: .8;
                        transition: opacity .2s linear;
                        text-align: left;
                        white-space: nowrap;
                        
                        &:hover {
                            opacity: 1;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}