@keyframes show {
    0% {
        opacity: .2;
        display: none;
    }

    50% {
        display: block;
    }

    100% {
        opacity: .9;
        display: block;
    }
}

.td {
    position: relative;
    z-index: 12;
    transition: all .5s linear;
    display: inline-block;
    width: 2.5rem;
    height: 3rem;

    &>svg {
        font-size: 2.5rem;
        color: var(--white);
    }

    &+a {
        margin-left: 1.5rem;
    }

    &:hover {
        &>div {
            display: block;
            animation: show .2s linear;
        }
    }
}

i[class='td__star']::before {
    content: '\e049';
    font-family: var(--font-icon);
    text-transform: none;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--white);
}

i[class='td__earth']::before {
    content: 'J';
    font-family: var(--font-icon);
    text-transform: none;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--white);
}

i[class='td__deal']::before {
    content: "\e06f";
    font-family: var(--font-icon);
    text-transform: none;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--white);
}

i[class='td__pn']::before {
    content: '<';
    font-family: var(--font-icon);
    text-transform: none;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--white);
}