@mixin commonlyAttribute {
    background-color: var(--white);
    padding: 4rem 5rem;
    border-radius: .3rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
}

@mixin crossBefore($color) {
    content: '';
    display: block;
    width: .5rem;
    height: 3rem;
    background-color: $color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.woocommerce {
    max-width: var(--max-width-page);
    height: auto;
    margin: 0 auto;

    .woocommerce__coupon,
    .form__box,
    .form__product-box,
    .woocommerce__checked-true,
    .woocommerce__checked-false {
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        @include commonlyAttribute;
    }

    &>div+div,
    &>div+form {
        margin-top: 4rem;
    }
}

.woocommerce__coupon {
    align-items: center;
    position: relative;

    & .coupon__icon {
        position: relative;
    }

    &::before {
        @include crossBefore(var(--primary));
    }
}

.woocommerce__checked-true,
.woocommerce__checked-false {
    &>p {
        margin-left: .5rem;
    }
}

.woocommerce__checked-true {
    &>svg {
        color: var(--white);
        background-color: #43b946;
        border-radius: 100%;
    }

    &:before {
        @include crossBefore(#43b946);
    }
}

.woocommerce__checked-false {
    &>svg {
        color: #eb7591;
    }

    &:before {
        @include crossBefore(#eb7591);
    }
}

.coupon__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;

    &>svg {
        color: var(--white);
        font-size: 1.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

.coupon__content {
    &>span {
        font-size: 1.5rem;
    }
}

.coupon__show {
    font-family: var(--font-family);
    color: var(--primary);
    margin: .2rem 0 0 .5rem;
    cursor: pointer;
    border-bottom: .2rem dotted transparent;
    transition: all .3s linear;

    &:hover {
        border-bottom: .2rem dotted var(--primary);
    }
}

.woocommerce__checkout-coupon {
    border-radius: .3rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
    transition: all .5s ease-in-out;
    background-color: var(--white);
    height: 0;
    overflow: hidden;
    margin-bottom: -4rem !important;

    .checkout-coupon__form {
        padding: 4rem 5rem;

        &>div+form {
            margin-top: 1rem;
            max-width: 68rem;

            &>div:first-child {
                width: calc(100% - 130px);

                &>div {
                    width: 100%;

                    &>input {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.active {
        height: 15.6rem;
        margin-bottom: 0 !important;
    }
}

.checkout-coupon__entered {
    &>p {
        color: var(--color-red);
    }
}

.woocommerce__checkout__form {
    &>div+div {
        margin-top: 4rem;
    }
}

.form__box {
    justify-content: space-between;
}

.form__box__1 {
    width: calc(55% - 1rem);

    &>p {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    &>div {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        line-height: 2.7rem;
    }
}

.form__box__1__input {
    &>div {
        width: 100%;

        &>div:has(>input) {
            width: 100%;

            &>input {
                width: 100% !important;
            }
        }
    }

    &.last-name {
        margin-left: 2rem;
    }
}

.form__box__2 {
    width: calc(45% - 1rem);
    margin-top: 3.6rem;

    &>div {
        width: 100%;

        &>div {
            width: 100%;

            &>textarea {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

.first-name {
    float: left;
}

.last-name {
    float: right;
}

.form__product-box {
    display: block !important;

    &>div+div {
        margin-top: 2rem;
    }
}

.order__table {
    & span {
        font-size: 1.5rem;
    }

    & span.quantity {
        font-weight: 700;
    }

    & span+span {
        margin-top: 1.5rem;
    }

    & span.booking-date {
        display: block;
    }
}

.checkout-payment {
    &>div+div {
        padding-bottom: 2rem;
    }
}

.product-box__methods__payment {
    background-color: #ebe9eb;
    padding: 2rem;
    border-radius: .3rem;

    &>div+div {
        padding-top: 2rem;
    }
}

.checkout-payment {
    border-bottom: .1rem solid #d3ced2;

    &>div+div {
        margin-top: 2rem;
    }

    .payment-bacs {
        height: auto;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        transition: height .3s linear;
        position: relative;

        &>p {
            width: 100%;
            height: auto;
            padding: 1.5rem;
            background-color: #dfdcde;
            display: flex;
            align-items: center;
            position: relative;

            &::after {
                content: '';
                display: block;
                border-top: 2rem solid #dfdcde;
                border-left: 2rem solid transparent;
                position: absolute;
                top: -9px;
                left: 3rem;
                transform: rotate(-45deg);
            }
        }

        // &.active {
        //     height: 6.6rem;
        // }
    }
}

.place-order {
    &>p {
        line-height: 3.6rem;

        &>a {
            color: var(--primary);
            cursor: pointer;
            border-bottom: .1rem dotted transparent;
            transition: .2s border-bottom linear;
            text-decoration: none;

            &:hover {
                border-bottom: .1rem dotted var(--primary);
            }
        }
    }
}

.box__place-order__button {
    display: flex;
    justify-content: flex-end;

    &>button {
        background-color: rgba(71, 160, 255, 0.8);
        border-color: transparent;

        &:hover {
            transform: translate(0);
            background-color: var(--primary);
        }
    }
}

.confirm-data__tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.confirm-data__tour__img {
    position: relative;
    z-index: 1;

    &>img {
        width: 30rem;
        height: 20rem;
        border-radius: 1rem;
        box-shadow: 6px 1px 22px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 6px 1px 22px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 1px 22px 0px rgba(0, 0, 0, 0.75);
    }

}

.tour__description {
    width: 100%;
    height: 16rem;
    background-color: var(--color-body);
    padding: 2rem 3rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
    overflow: hidden;

    &>.tour__description__content {
        margin-top: 3rem;
        list-style-type: none;

        &>li:last-child {
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
        }

        &>li+li {
            margin-top: 1rem;
        }
    }

    &>.tour__description__price {
        margin-top: 1rem;
    }
}

.tour__description__title {
    display: flex;
    justify-content: space-between;

    &>p:first-child {
        text-transform: uppercase;
        color: var(--primary);
        font-size: 1.7rem;
    }
}

.confirm-data__infomation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;

    &>div+div {
        margin-top: 4rem;
    }
}

.tour__information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &>div {
        width: max-content;

        &>div+div {
            margin-top: 2rem;
        }
    }
}

.user__title,
.ship__title,
.order__title {
    display: flex;
    align-items: center;

    &>svg {
        margin-right: .5rem;
    }

    &.order__title {
        margin-bottom: 2rem;
    }
}

.user__content,
.ship__content {
    height: auto;
    background-color: var(--color-body);
    padding: 2rem 3rem;
    border-radius: .3rem;

    &>.content {
        display: flex;

        &>p:first-child {
            color: var(--primary);
        }

        &>p+p {
            margin-left: 1rem;
        }
    }

    &>div+div {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .woocommerce {
        width: calc(100vw - 6rem);
    }
}

@media screen and (max-width: 1165px) {
    .form__box__1__input {

        &.first-name,
        &.last-name {
            width: 100%;
            display: block;
            float: unset;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .form__box {
        flex-direction: column;
        align-items: flex-start;

        & .form__box__1,
        & .form__box__2 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .woocommerce__checkout-coupon {
        .checkout-coupon__form {
            padding: 3rem;

            &>div+form {
                flex-direction: column;
                align-items: flex-start;

                &>div:first-child,
                &>button {
                    width: 100%;
                }
            }
        }

        &.active {
            height: 235px;
        }
    }

    .woocommerce__checkout__form>.form__box,
    .woocommerce>.woocommerce__coupon {
        padding: 3rem;
    }

    .order__table {

        &>thead td,
        &>thead th,
        &>tbody td {
            padding: 0 .5rem !important;
        }
    }
}