.user-edit {
    &>ul+div {
        margin-top: 2rem;
    }

    &>div+div {
        margin-top: 2rem;
    }
}

.container {
    &>div+div {
        margin-top: 2rem!important;
    }
}

.user-edit__header {
    &>.user-edit__header__title {
        font-size: 3rem;
        line-height: normal;
        text-transform: capitalize;
    }
}

.container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: .3rem;

    &>header>p {
        font-size: 2rem;
        text-transform: capitalize;
    }

    &>header+div {
        margin-top: 2rem;
        width: 100%;
    }
}