@import '../GlobalStyles/GlobalStyles.scss';

.container-zalo {
    position: relative;
}

.fa-xmark {
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.fa-xmark:hover {
    background-color: $redColor;
}

// .phone__number {
//     position: fixed;
//     font-weight: 100;
//     color: $whiteColor;
//     cursor: pointer;
//     bottom: 9.1rem;
//     left: 9rem;
//     padding: 0.7rem 2rem 0.7rem 2rem;
//     display: none;
//     background-color: $colorPrimary;
//     border-top-right-radius: 2rem;
// }

.phone {
    &:hover::before {
        content: " ";
        position: fixed;
        left: 2.6rem;
        bottom: calc($bottomSocial + 6rem);
        border-radius: 50%;
        border: 0.1rem solid #333;
        padding: 2.8rem;
        background-color: #2980B9;
    }

    & .fa-phone-volume {
        z-index: 9;
        color: $colorPrimary;
        bottom: calc($bottomSocial + 7rem);
        left: 3.9rem;
        animation: shaking .5s infinite linear;
    }

    &:hover .fa-phone-volume {
        animation: shaking 0.5s infinite linear;
        color: $whiteColor;
    }

    &:hover .phone__number {
        display: block;
    }

    & .phone__number {
        position: fixed;
        font-weight: 100;
        color: $whiteColor;
        cursor: pointer;
        bottom: calc($bottomSocial + 6rem);
        left: 7rem;
        padding: 0.7rem 2rem 0.7rem 2rem;
        display: none;
        background-color: $colorPrimary;
        border-top-right-radius: 2rem;
    }
}

.zalo {
    bottom: calc($bottomSocial + 12rem);
    right: 3.9rem;
    width: 4rem;
}

@keyframes shaking {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

.font-size-icon {
    font-size: 4rem;
}

.cross {
    height: 3rem;
    margin: 0 3rem 0 3rem;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.container-right p {
    width: 30rem;
    text-align: center;
}

.form-zalo-active {
    position: fixed;
    top: 16.4rem;
    display: flex;
    justify-content: space-between;
    width: 100rem;
    height: 50rem;
    margin: 0 auto;
    padding: 4.5rem 3.5rem;
    background-color: $whiteColor;
    box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -webkit-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -moz-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    transition: .5s ease-in-out;
    opacity: 1;
    left: 17%;
}

@mixin formZalo {
    position: fixed;
    top: 16.4rem;
    display: flex;
    justify-content: space-between;
    width: 100rem;
    height: 50rem;
    margin: 0 auto;
    padding: 4.5rem 3.5rem;
    background-color: $whiteColor;
    box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -webkit-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -moz-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    transition: .5s ease-in-out;
}

.form-zalo {
    position: fixed;
    top: 16.4rem;
    display: flex;
    justify-content: space-between;
    width: 100rem;
    height: 50rem;
    margin: 0 auto;
    padding: 4.5rem 3.5rem;
    background-color: $whiteColor;
    box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -webkit-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    -moz-box-shadow: -.1rem 0 1.7rem 0 $blackColor;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    transition: .5s ease-in-out;
    opacity: 0.5;
    left: 100%;
}

.messeage_button {
    width: max-content;
    margin: 0 auto;
}

.form-zalo__logo {
    width: 28rem;
}

.form-zalo__footter {
    display: flex;
    // width: 45rem;
    justify-content: space-between;
}

.form-zalo__button {
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    margin: 2rem 0 0 0;
    border-radius: 3rem;
    border: .3rem solid $borderColor;
    background-color: $colorPrimary;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.form-zalo__button:hover {
    background-color: $whiteColor;
}

.form-zalo__button:hover p,
.form-zalo__button:hover i {
    color: $blackColor;
}

.fa-rocketchat,
.form-zalo__button p {
    padding: 0 .7rem 0 .7rem;
    margin: 0;
    color: $whiteColor;
}

.form-zalo__introduce {
    margin: 5rem 0;
    width: 45rem;
}

.--font-title {
    font-size: 3.3rem;
}

.containter-social__icon .fa-facebook-f {
    bottom: $bottomSocial;
    right: 3.9rem;
    font-size: 1.9rem;
    color: $whiteColor;
    background-color: $colorPrimary;
    border: 0.1rem solid #b3b3b3;
    padding: 1rem 1.4rem;
}

.containter-social__icon .fa-instagram {
    bottom: 18rem;
    right: 3.9rem;
    padding: 1.5rem 1.8rem;
    color: $orangeColor;
    border: 1px solid $orangeColor;
}

.instagram {
    background-color: $whiteColor;
    bottom: calc($bottomSocial + 6rem);
    right: 3.9rem;
    width: 4rem;
}

.containter-social__icon .fa-twitter {
    color: $colorPrimary;
    bottom: 26rem;
    right: 3.9rem;
    font-size: 5rem;
}

// .containter-social__icon .fa-phone-volume {
//     color: $colorPrimary;
//     bottom: 10rem;
//     left: 3.9rem;
//     animation: shaking .5s infinite linear;
// }

.container-right img {
    width: 30rem;
}