.user-management {
    &>ul+div {
        margin-top: 2rem;
    }
}

.content {
    & .content__header {
        &>p {
            font-size: 3rem;
            line-height: normal;
        }
    }

    &>div+div {
        margin-top: 5rem;
    }

    & div+table {
        margin-top: 5rem;
    }

    &>div+div {
        margin-top: 2rem;
    }
}

.container__table {
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;

    & .container__table__header {
        &>.container__table__header__title>p {
            font-size: 2rem;
        }
        
        &>.create-button>.create-button__user {
            width: max-content;
            padding: .5rem 1.4rem;
            background-color: var(--color-green);

            & span {
                font-size: 1.3rem;
                text-transform: capitalize;
            }
        }

        & .search-input {
            height: 4.5rem;

            &>div {
                float: right
            }
        }

        &>div+div {
            margin-top: 2rem;
        }
    }

    &>div+div {
        margin-top: 2rem;
    }

    .table__field {
        cursor: pointer;
    }

    .even-row {
        background-color: rgb(248 249 250);
    }
}