.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6rem;
    height: 6rem;
    background-color: #cdcdcd;
    opacity: .8;
    z-index: 21;
}

.loading div {
    position: fixed;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.5rem;
    height: 3.5rem;
    border: .4rem var(--primary) solid;
    border-radius: 50%;
    border-color: #fff transparent transparent transparent;
    animation: loading-loading 1.2s infinite;

    &:nth-child(1) {
        animation-delay: 0.14s;
    }

    &:nth-child(2) {
        animation-delay: 0.28s;
    }
}

@keyframes loading-loading {
    0% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}