.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 110rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(180, 180, 180, .5);
    gap: 3rem;

    a {
      padding: .5rem 2rem;
      background-color: rgb(245, 77, 77);

      &:hover {
        transform: none;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    width: 110rem;
    margin: 3rem auto 0 auto;

    .profile-pic {
      width: 34.6rem;
      height: max-content;
    }

    .account-details {
      width: 71.8rem;
    }
  }
}

.profile-pic,
.account-details {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  border: 0.1rem solid rgba(0, 0, 0, 0.125);

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.7rem;
    color: #69707a;
    padding: 1.6rem 2.16rem;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 0.1rem solid rgba(33, 40, 50, 0.125);

    .title {
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
    }
  }
}

.content-avatar {
  width: 100%;
  height: 28.3rem;
  background-color: var(--color-white);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .avatar {
    width: 16rem;
    height: 16rem;
    margin-bottom: 0.8rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .description {
    color: #6c757d;
  }

  label {
    padding: 0.5rem 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: .3rem;
    cursor: pointer;
  }
}

.user-info {
  width: 100%;
  padding: 1.6rem;

  .row {
    display: flex;
    gap: 1.6rem;

    div {
      margin: 0;
    }
  }

  .save {
    margin-top: 2rem;
  }

  .user-info__password~div {
    pointer-events: all;
    cursor: pointer;
  }
}

.profile-pic,
.account-details {
  & button {
    &:hover {
      transform: none !important;
    }
  }
}

@media screen and (max-width: 1160px) {
  .container {
    div.header {
      width: calc(100vw - 6rem);
    }

    .content {
      width: calc(100vw - 6rem);
    }
  }
}

@media screen and (max-width: 1160px) and (min-width: 780px) {
  .container {
    .content {
      .account-details {
        width: calc(100vw - 346px - 3rem - 6rem);
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .container {
    div.header {
      width: calc(100vw - 6rem);
    }

    .content {
      width: calc(100vw - 6rem);

      .account-details>.user-info>div {
        width: 100%;

        &>div:has(>input) {
          width: 100%;

          &>input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    &>.content {
      flex-direction: column;

      &>.account-details,
      &>.profile-pic {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    div.header {
      flex-direction: column;

      &>p {
        text-align: center;
        width: 100%;
      }
    }
  }
}