@import '../GlobalMixin.scss';

:root {
    --bottom: 2rem;
}

.footer-container {
    border: .1rem solid rgb(149, 148, 148);
    padding: 2rem 0;
    background-color: var(--white);
}

.fa-chevron-up {
    @include setPosition(fixed, 0, 0, var(--bottom), 0, false);
    color: var(--white);
    border: .3rem solid var(--color-sub);
    background-color: var(--primary);
    border-radius: 50%;
    padding: 1.3rem;
    cursor: pointer;
    transition: all 1s ease;
}

.fa-chevron-up:hover {
    color: var(--primary);
    background-color: var(--white);
    border: .3rem solid var(--primary);
}

.fa-chevron-up-non-active {
    left: -4%;
}

.footer {
    width: calc(100vw - 6rem);
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.--position {
    position: fixed;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;

    &:hover {
        animation: shaking 0.5s infinite linear;
    }
}

.font--size {
    color: var(--black);
}

.footer__cks a {
    text-decoration: none;
    padding-left: 3rem;
}

.footer__cks a:hover {
    text-decoration: underline;
}

.containter-social__icon {
    position: relative;
}

@media screen and (max-width: 960px) {
    .footer {
        flex-direction: column;
        gap: 3rem;
    }
}