.test {
    width: max-content;
    margin: 0 auto;

    &>div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>button {
            width: 4rem;
            height: 2rem;
        }
    }
}

h1 {
    font-size: 1.5rem;
}